*.o
*.Po

.*.swp
.directory

.cache
.deps
.dirstamp

odr-muxmpe

aclocal.m4
build-aux
configure
configure~
Makefile.in
Makefile
autom4te.cache
config.h
config.log
config.status
lib/Makefile
src/Makefile
stamp-h1
config.h.in~
config.h.in
*.plist

cscope.out
ctags
tags
compile_commands.json

